<style>
  form {
    width: 100%;
  }
</style>

<script>
  import { createEventDispatcher } from "svelte";
  import TextInput from "../UI/TextInput.svelte";
  import Button from "../UI/Button.svelte";
  import Modal from "../UI/Modal.svelte";
  import { isEmpty } from "../helpers/validation.js";
  import meetups from "./meetup-store";
  
  const dispatch = createEventDispatcher();

  export let id = null;
  
  $: titleValid = !isEmpty(title);

  $: formValid = titleValid;
  
  let title = '';
  let subtitle = '';
  let desc = '';
  let imageUrl = '';
  let address = '';
  let email = '';

  if (id) {
    const unsubscribe = meetups.subscribe(items => {
      const selectedMeetup = items.find(i => i.id === id);
      ({title, subtitle, desc, imageUrl, address, email} = selectedMeetup);
    });
    unsubscribe();
  }

  function submitForm() {
    const meetupData = { title, subtitle, desc, imageUrl, address, email };
    if (id) {
      meetups.updateMeetup(id, meetupData);
    } else {
      meetups.add(meetupData);
    }
    dispatch('save-meetup');
  }

  function cancel() {
    dispatch('cancel');
  }

  function deleteMeetup() {
    meetups.removeMeetup(id);
    dispatch('save-meetup');
  }

</script>

<Modal 
  title="Edit Meetup"
  on:cancel>
  <form on:submit|preventDefault="{submitForm}">
    <TextInput id="title" label="Title" value={title}
      valid={titleValid}
      validityMessage="Please enter a valid title."
      on:input="{(event) => title = event.target.value}"/>

    <TextInput id="subtitle" label="Subtitle" value={subtitle}
      on:input="{(event) => subtitle = event.target.value}"/>

    <TextInput id="address" label="Address" value={address} 
      on:input="{(event) => address = event.target.value}"/>

    <TextInput id="imageUrl" label="Image URL" value={imageUrl}
      on:input="{(event) => imageUrl = event.target.value}"/>

    <TextInput id="email" label="Email" value={email} type="email"
      on:input="{(event) => email = event.target.value}"/>

    <TextInput id="desc" label="Desc" 
      controllType="textarea" rows="3"
      bind:value={desc}/>
  </form>
  <div slot="footer">
    <Button type="button" mode="outline" on:click={cancel}>Cancel</Button>
    <Button type="button" disabled={!formValid} on:click={submitForm}>Save</Button>
    {#if id}
      <Button type="button" on:click={deleteMeetup}>Delete</Button>
    {/if}
  </div>
</Modal>