<style>
  article {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    background: white;
    margin: 1rem;
  }

  header,
  .content,
  footer {
    padding: 1rem;
  }

  .image {
    width: 100%;
    height: 14rem;
  }

  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h1 {
    font-size: 1.25rem;
    margin: 0.5rem 0;
    font-family: "Roboto Slab", sans-serif;
  }

  h2 {
    font-size: 1rem;
    color: #808080;
    margin: 0.5rem 0;
  }

  p {
    font-size: 1.25rem;
    margin: 0;
  }

  div {
    text-align: right;
  }

  .content {
    height: 4rem;
  }
</style>

<script>
  import Button from "../UI/Button.svelte";
  import Badge from "../UI/Badge.svelte";
  import meetups from "./meetup-store";
  import { createEventDispatcher } from "svelte";

  export let id;
  export let title;
  export let subtitle;
  export let desc;
  export let imageUrl;
  export let address;
  export let email;
  export let isFavorite;

  const dispatch = createEventDispatcher();

  function toggleFavorite() {
    meetups.toggleFavorite(id);
  }

</script>

<article>
  <header>
    <h1>{title} 
      {#if isFavorite}
        <Badge>Favorite</Badge>
      {/if}
    </h1>
    <h2>{subtitle}</h2>
    <h2>{address}</h2>
  </header>
  <div class="image"><img src={imageUrl} alt={title} /></div>
  <div class="content">
    <p>{desc}</p>
  </div>
  <footer>
    <Button mode="outline" type="button" on:click={() => dispatch('edit', id)}>Edit</Button>
    <Button 
      mode="outline" 
      color="{isFavorite ? null : 'success'}" 
      on:click="{toggleFavorite}">
      {isFavorite ? 'Unfavorite' : 'Favorite'}
    </Button>
    <Button on:click={() => dispatch('showdetails', id)}>Show detail</Button>
  </footer>
</article>
