<script>
  import Header from './UI/Header.svelte';

  import MeetupGrid from './Meetups/MeetupGrid.svelte';
  import EditMeetup from './Meetups/EditMeetup.svelte';
  import meetups from './Meetups/meetup-store';
  import MeetupDetail from './Meetups/MeetupDetail.svelte';

  let editMode = null;
  let editedId = null;
  let page = 'overview';
  let pageData = {};

  function addMeetup(event) {
    const newMeetup = event.detail;
    editMode = null;
    editedId = null;
  }

  // function toggleFavorite(event) {
  //   const id = event.detail;
  //   meetups.toggleFavorite(id);
  // }

  function cancelEdit() {
    editMode = null;
    editedId = null;
  }

  function editMeetup(event) {
    editMode = 'edit';
    editedId = event.detail;
  }

  let id;
  function showDetails(event) {
    page = 'details';
    pageData.id = event.detail;
  }

  function closeDetails() {
    page = 'overview';
    pageData = {};
  }
</script>

<Header />

<main>
  {#if page === 'overview'}
    {#if editMode === 'edit'}
      <EditMeetup
        id={editedId}
        on:save-meetup={addMeetup}
        on:cancel={cancelEdit}
      />
    {/if}

    <MeetupGrid
      meetups={$meetups}
      on:showdetails={showDetails}
      on:edit={editMeetup}
      on:add={() => (editMode = 'edit')}
    />
  {:else}
    <MeetupDetail id={pageData.id} on:close={closeDetails} />
  {/if}
</main>

<style>
  main {
    margin-top: 6rem;
  }
</style>
